
/* this is the CSS for my second recipe landing page HTML*/

    * {
    color: #141E27; background-color: #EEEDDE;
    }
    .alert-text {
        text-align: center;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
        border: 5px solid #203239;
        margin-bottom: 50px;
    }

    ul {
        display: table;
        margin: 0 auto;
    }

    .first-h2 {
        text-align: center;
        background-color: #E0DDAA;
    }
    
    .second-h2 {
        text-align: center;
        background-color: #E0DDAA;
        margin: auto;
        padding: 10px;
        


    }

    .first-p {
        border: 5px solid #203239;
        background-color: #E0DDAA;
        text-align: center;
        padding: 0;
        margin: 20px;
        
    }
    
    .list-1 {
        background-color: #E0DDAA;
        padding: 10px;
    }

    .list-text {
        background-color: #E0DDAA;
        padding-left: ;
        text-align: left;
        margin: 5px;

    }

    .list-text-1 {
        padding-bottom: 5px;
        background-color: #E0DDAA;
    }

    .style-h1 {
        text-align: center;
        color: black; 
        font-family: "Great Vibes", cursive; 
        font-size: 50px; 
        font-weight: normal;            
        text-shadow: 0 2px 2px #E0DDAA;
    }